:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --light-green: #5FBB2D;
  --dark-green: #367315;
  --bright-green: #518534;
  --basic-grey: #3D546F;
  --light-grey: #8E939C;
  --grey-light: #A9A9A9;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --light-background: #F9F5F0;
  --white: #ffffff;
  --black: #000000;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --light-blue: #F3F7F8;
  --darker-blue: #161D29;
  --dark-blue: #293449;
  --darkest-blue: #212A3A;
  --some-blue: #1D2739;
  --shadow-blue: #405069;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --warning: #FFBF47;
  --grey-brown: #7C736A;
  --grey-border: #eaeaea;
  --darker-red: #B52533;
  --dark-red: #BA2732;
  --darkest-red: #8D1E26;
  --deep-blue: #32425C;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1200px;
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  padding-bottom: 60px;
  background-color: var(--light-blue);
}

.page-header__container {
  min-height: 42px;

  background-color: var(--dark-blue);
}

.page-header__wrapper {
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
}

.page-header__logo-link {
  width: 220px;
  height: 47px;
  padding-top: 12px;

  text-align: center;
  background-color: var(--basic-red);

  box-shadow: 0px 5px var(--darker-red);
}

.page-header__logo-link:active {
  background-color: var(--dark-red);
  box-shadow: 0px 5px var(--darkest-red);
}

.page-header__search {
  position: relative;

  margin-right: auto;
  width: 271px;
  height: 42px;

}

.page-header__search button {
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 10;

  width: 17px;
  height: 17px;

  background-color: transparent;
  background-image: url("/img/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;

  border: none;

  opacity: 0.3;
}

.page-header__search input {
  width: 100%;
  height: 100%;
  padding-left: 42px;

  background-color: transparent;
  border: none;
}

.page-header__search input:active,
.page-header__search input:focus {
  padding-left: 42px;

  font-size: 18px;
  line-height: 24px;
  color: var(--black);

  background-color: var(--white);
}

.page-header__search input:active+button,
.page-header__search input:focus+button {
  background-image: url("/img/icon-red-search.svg");
}

.page-header__search input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.page-header__search:hover button,
.page-header__search:focus button {
  opacity: 1;
}

.page-header__bookmarks,
.page-header__basket,
.page-header__order-btn {
  width: 150px;
  min-height: 42px;

  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.page-header__bookmarks,
.page-header__basket {
  padding-top: 9px;

  text-align: center;
}

.page-header__bookmarks,
.page-header__basket {
  padding-top: 9px;
}

.page-header__bookmarks svg,
.page-header__basket svg {
  opacity: 0.3;
}

.page-header__bookmarks:hover svg,
.page-header__bookmarks:focus svg,
.page-header__basket:hover svg,
.page-header__basket:focus svg {
  opacity: 1;
}

.page-header__bookmarks:active,
.page-header__basket:active {
  background-color: var(--dark-blue);
  opacity: 0.5;
}

.page-header__order-btn {
  padding: 9px 16px 9px 19px;

  background-color: var(--basic-green);
}

.page-header__order-btn:hover,
.page-header__order-btn:focus {
  background-color: var(--light-green);
}

.page-header__order-btn:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

.page-header__description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.page-header__phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);

  border: 3px solid var(--white);
}

.page-header__address {
  font-size: 14px;
  line-height: 24px;
  color: var(--deep-blue);
}

.page-header__log-in {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.page-header__log-in svg {
  fill: var(--basic-greylight);
}

.page-header__log-in:hover svg,
.page-header__log-in:focus svg {
  fill: var(--basic-grey);
}

.page-header__log-in:hover,
.page-header__log-in:focus,
.page-header__sign-in:hover,
.page-header__sign-in:focus {
  color: var(--basic-red);
}

.page-header__log-in:active,
.page-header__sign-in:active {
  color: var(--basic-greylight);
}

.page-header__log-in:active svg {
  fill: var(--basic-greylight);
}

.page-header__sign-in {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.main-nav__list {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  min-height: 60px;
  width: 940px;

  background-color: var(--deep-blue);
  box-shadow: inset 0px -5px 0px var(--dark-blue);
}

.main-nav__item a {
  display: block;
  min-height: 60px;
  padding: 16px 24px 20px 27px;

  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.main-nav__item a[href]:hover,
.main-nav__item a[href]:focus {
  background-color: var(--dark-blue);
}

.main-nav__item a[href]:active {
  background-color: var(--some-blue);
  box-shadow: inset 0px -5px 0px var(--dark-blue);
  color: var(--light-grey);
}

.product-types__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.product-types__item {
  width: 300px;
  min-height: 123px;
}

.product-types__item--materials {
  background-color: var(--special-ylellow);
}

.product-types__item--tools {
  background-color: var(--special-blue);
}

.product-types__item--equipment {
  background-color: var(--special-lilac);
}

.slide {
  width: 620px;
  min-height: 266px;

  background-color: var(--grey-brown);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
}

.slide__sentence {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.slide__button {
  padding: 11px 46px 9px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}

.slide__button:active {
  background-color: var(--dark-red);
}

.slide--perforators {
  background-image: url("/img/slide_perforators.jpg");
}

.slide--drills {
  background-image: url("/img/slide_drills.jpg");
}

.extra__item {
  width: 300px;
  min-height: 123px;
}

.extra__item--discount {
  background-color: var(--special-greenlight);
}

.extra__item--delivery {
  background-color: #FFC047;
}

.extra__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.white__button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 135px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  background-color: rgba(255, 255, 255, 0.3);
}

.white__button:hover,
.white__button:focus {
  background-color: rgba(197, 197, 197, 0.3);
}

.white__button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.popular-goods__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
  padding-left: 28px;
  min-height: 89px;

  background-color: var(--light-background);
}

.popular-goods__title {
  padding: 0;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--deep-blue);
}

.popular-goods__btn-to-all {
  width: 192px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  background-color: var(--basic-red);
}

.popular-goods__btn-to-all:active {
  background-color: var(--dark-red);
}

.popular-goods__list {
  display: flex;
  flex-wrap: wrap;
}

.pop-item,
.item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;

  width: 220px;
  min-height: 318px;

  border: 1px solid var(--grey-border);
}

.pop-item__btn-wrapper,
.item__btn-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  display: none;
  width: 218px;
  padding: 38px 0;

  background-color: var(--white);
}


.pop-item__btn-buy,
.item__btn-buy {
  display: block;
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--dark-green);
  border-radius: 2px;
}

.pop-item__btn-buy:hover,
.pop-item__btn-buy:focus,
.item__btn-buy:hover,
.item__btn-buy:focus {
  background-color: var(--light-green);
  box-shadow: inset 0px -3px 0px var(--dark-green);
}

.pop-item__btn-buy:active,
.item__btn-buy:active {
  background: var(--bright-green);
}

.pop-item__btn-to-bookmarks,
.item__btn-to-bookmarks {
  display: block;
  width: 135px;
  min-height: 38px;
  padding-top: 9px;
  padding-bottom: 7px;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--deep-blue);

  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.pop-item__btn-to-bookmarks:hover,
.pop-item__btn-to-bookmarks:focus,
.item__btn-to-bookmarks:hover,
.item__btn-to-bookmarks:focus {
  border: 3px solid var(--deep-blue);
}

.pop-item__btn-to-bookmarks:active,
.item__btn-to-bookmarks:active {
  opacity: 0.5;
}

.pop-item:hover,
.pop-item:focus,
.item:hover,
.item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.pop-item:hover .pop-item__btn-wrapper,
.item:hover .item__btn-wrapper,
.pop-item:focus .pop-item__btn-wrapper,
.item:focus .item__btn-wrapper {
  display: block;
}

.pop-item__name {
  width: 157px;

  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--black);
}

.pop-item__old-price {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;

  color: var(--grey-light);
}

.pop-item__new-price {
  display: block;
  width: 141px;
  min-height: 38px;
  padding-top: 10px;

  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  background-image: url("/img/red-button.svg");
  background-repeat: no-repeat;
}

.popular-brands__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
  padding-left: 28px;
  min-height: 89px;

  background-color: var(--light-background);
}

.popular-brands__item {
  border: 1px solid var(--grey-border);
}

.popular-brands__item:hover,
.popular-brands__item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-brands__item:active {
  opacity: 0.5;
}

.popular-brands__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--deep-blue);
}

.popular-brands__btn-to-all {
  display: block;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  background-color: var(--basic-red);
}

.popular-brands__btn-to-all:active {
  background-color: var(--dark-red);
}

.services {
  background-color: var(--basic-background);
}

.services__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services__sentence {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services__control {
  display: block;
  width: 240px;
  padding-left: 22px;
  padding-top: 13px;
  padding-bottom: 17px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--deep-blue);
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px var(--shadow-blue);
}

.services__control:hover,
.services__control:focus {
  color: var(--white);

  background-color: var(--dark-blue);
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px var(--shadow-blue);
}

/* .services__slide {
  display: none;
}

.services__input1:checked ~ .slide--delivery, появление по
.services__input1:checked ~ .slide--guarantee,
.services__input1:checked ~ .slide--credit {
  display: block;
} */

.services__control--current {
  color: var(--deep-blue);
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
}

.services__slide h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--deep-blue);
}

.services__slide p {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services__slide a {
  display: block;
  width: 195px;
  min-height: 38px;
  padding-top: 6px;
  padding-bottom: 14px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: #FF5357;
}

.about__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.about p {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about__carrier {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.about__btn {
  display: block;
  width: 192px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}

.contacts__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.contacts__btn {
  width: 245px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}

.footer {
  background-color: var(--deep-blue);
}

.footer__logo {
  display: block;
  width: 220px;
  height: 68px;
  text-align: center;
  padding-top: 21px;

  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer__logo:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px -5px var(--darkest-red);
}

.footer__nav-item a {
  position: relative;

  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer__nav-item:hover a:after,
.footer__nav-item:focus a:after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: var(--basic-background);
}

.footer__nav-item:active a:after {
  display: none;
}

.footer__nav-item:active a {
  opacity: 0.5;
}

.footer__address,
.footer__phone {
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
}

.products-nav__item a {
  position: relative;

  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.products-nav__item:hover a:after,
.products-nav__item:focus a:after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: var(--special-yellowlight);
}

.products-nav__item:active a:after {
  display: none;
}

.products-nav__item:active a {
  opacity: 0.5;
}


.footer__wrapper {
  background-color: var(--dark-blue);
}

.footer__copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 134px;
  min-height: 44px;
  margin: 0;
  padding: 0;
}

.social__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding-top: 11px;

  text-align: center;

  background-color: var(--darkest-blue);

  border-radius: 50%;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--basic-red);
}

.footer__feedback {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer__feedback a {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellowlight);
}

.footer__feedback a:active {
  color: var(--basic-red);
}

.footer__developed-by {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer__developed-by a {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellowlight);
}

.footer__developed-by a:active {
  color: var(--basic-red);
}

/*write us*/

.write-us label {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.write-us input::placeholder,
.write-us textarea {
  font-size: 13px;
  line-height: 24px;
  color: var(--grey-light);
}

.write-us__button {
  width: 460px;
  min-height: 38px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}

























/*catalog*/

.item {
  position: relative;

  overflow: hidden;
}

.item--new::before {
  /* Красная фируга NEW/ Отцентрировать по вертикали*/
  content: "New";

  position: absolute;
  top: 10px;
  right: -25px;

  width: 100px;
  height: 30px;

  background-color: var(--basic-red);

  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  transform: rotate(45deg);
}
