:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --light-green: #5FBB2D;
  --dark-green: #367315;
  --bright-green: #518534;
  --basic-grey: #3D546F;
  --light-grey: #8E939C;
  --grey-light: #A9A9A9;
  --grey-border: #E5E5E5;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --light-background: #F9F5F0;
  --simple-background: #F2F6F8;
  --white: #ffffff;
  --black: #000000;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --light-blue: #F3F7F8;
  --darker-blue: #161D29;
  --dark-blue: #293449;
  --darkest-blue: #212A3A;
  --some-blue: #1D2739;
  --shadow-blue: #405069;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --warning: #FFBF47;
  --grey-brown: #7C736A;
  --grey-border: #eaeaea;
  --darker-red: #B52533;
  --dark-red: #BA2732;
  --darkest-red: #8D1E26;
  --deep-blue: #32425C;
  --bright-red: #FF5357;
  --light-beige: #F7F3EC;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  min-width: 1200px;
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-bottom: 60px;

  margin-right: auto;
  margin-left: auto;

  background-color: var(--light-blue);
}

.page-header__container {
  width: 100%;
  min-height: 42px;
  padding-right: 130px;
  padding-left: 130px;

  background-color: var(--dark-blue);
}

.page-header__wrapper {
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
  padding-left: 130px;
  padding-right: 130px;
}

.page-header__logo-link {
  width: 220px;
  height: 47px;
  padding-top: 12px;

  text-align: center;
  background-color: var(--basic-red);

  box-shadow: 0px 5px var(--darker-red);
}

.page-header__logo-link:active {
  background-color: var(--dark-red);
  box-shadow: 0px 5px var(--darkest-red);
}

.page-header__search {
  position: relative;

  margin-right: auto;
  width: 271px;
  height: 42px;

}

.page-header__search button {
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 10;

  width: 17px;
  height: 17px;

  background-color: transparent;
  background-image: url("/img/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;

  border: none;

  opacity: 0.3;
}

.page-header__search input {
  width: 100%;
  height: 100%;
  padding-left: 42px;

  background-color: transparent;
  border: none;
}

.page-header__search input:active,
.page-header__search input:focus {
  padding-left: 42px;

  font-size: 18px;
  line-height: 24px;
  color: var(--black);

  background-color: var(--white);
}

.page-header__search input:active+button,
.page-header__search input:focus+button {
  background-image: url("/img/icon-red-search.svg");
}

.page-header__search input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.page-header__search:hover button,
.page-header__search:focus button {
  opacity: 1;
}

.page-header__bookmarks,
.page-header__basket,
.page-header__order-btn {
  width: 150px;
  min-height: 42px;

  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.page-header__bookmarks,
.page-header__basket {
  padding-top: 9px;

  text-align: center;
}

.page-header__bookmarks,
.page-header__basket {
  padding-top: 9px;
}

.page-header__bookmarks svg,
.page-header__basket svg {
  opacity: 0.3;
}

.page-header__bookmarks:hover svg,
.page-header__bookmarks:focus svg,
.page-header__basket:hover svg,
.page-header__basket:focus svg {
  opacity: 1;
}

.page-header__bookmarks:active,
.page-header__basket:active {
  background-color: var(--dark-blue);
  opacity: 0.5;
}

.page-header__order-btn {
  padding: 9px 16px 9px 19px;

  background-color: var(--basic-green);
}

.page-header__order-btn:hover,
.page-header__order-btn:focus {
  background-color: var(--light-green);
}

.page-header__order-btn:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

.page-header__description {
  width: 197px;
  min-height: 71px;
  margin: 0;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.page-header__tel-wrapper {
  margin: 0;
  width: 270px;
  min-height: 72px;
}


.page-header__phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);

  border: 3px solid var(--white);
}

.page-header__address {
  font-size: 14px;
  line-height: 24px;
  color: var(--deep-blue);
}

.page-header__user-menu {
  width: 281px;
}

.page-header__log-in {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.page-header__log-in svg {
  fill: var(--basic-greylight);
}

.page-header__log-in:hover svg,
.page-header__log-in:focus svg {
  fill: var(--basic-grey);
}

.page-header__log-in:hover,
.page-header__log-in:focus,
.page-header__sign-in:hover,
.page-header__sign-in:focus {
  color: var(--basic-red);
}

.page-header__log-in:active,
.page-header__sign-in:active {
  color: var(--basic-greylight);
}

.page-header__log-in:active svg {
  fill: var(--basic-greylight);
}

.page-header__sign-in {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.main-nav__list {
  padding: 0;

  display: flex;
  justify-content: space-around;
  min-height: 60px;
  width: 940px;

  background-color: var(--deep-blue);
  box-shadow: inset 0px -5px 0px var(--dark-blue);
}

.main-nav__item a {
  display: block;
  min-height: 60px;
  padding: 16px 24px 20px 27px;

  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.main-nav__item a[href]:hover,
.main-nav__item a[href]:focus {
  background-color: var(--dark-blue);
}

.main-nav__item a[href]:active {
  background-color: var(--some-blue);
  box-shadow: inset 0px -5px 0px var(--dark-blue);
  color: var(--light-grey);
}

.offers {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  column-gap: 20px;
  row-gap: 20px;
}

.product-types {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;

}

.product-types__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.product-types__item {
  /* width: 300px;
  min-height: 123px; */
}

.product-types__item--materials {
  background-color: var(--special-ylellow);
}

.product-types__item--tools {
  background-color: var(--special-blue);
}

.product-types__item--equipment {
  background-color: var(--special-lilac);
}

.slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  margin: 0;
  padding: 0;
}

.slide {
  margin: 0;
  padding: 0;
  width: 620px;
  min-height: 266px;

  background-color: var(--grey-brown);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
}

.slide__sentence {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.slide__button {
  padding: 11px 46px 9px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}

.slide__button:active {
  background-color: var(--dark-red);
}

.slide--perforators {
  background-image: url("/img/slide_perforators.jpg");
}

.slide--drills {
  display: none;
  background-image: url("/img/slide_drills.jpg");
}

.extra {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  display: grid;
  row-gap: 20px;

  margin: 0;
  padding: 0;
}

.extra__item {
  /* width: 300px;
  min-height: 123px; */
}

.extra__item--discount {
  background-color: var(--special-greenlight);
}

.extra__item--delivery {
  background-color: #FFC047;
}

.extra__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.white__button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 135px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  background-color: rgba(255, 255, 255, 0.3);
}

.white__button:hover,
.white__button:focus {
  background-color: rgba(197, 197, 197, 0.3);
}

.white__button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.popular-goods {
  width: 940px;
  margin: 0 auto;
}

.popular-goods__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
  padding-left: 28px;
  min-height: 89px;

  background-color: var(--light-background);
}

.popular-goods__title {
  padding: 0;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--deep-blue);
}

.popular-goods__btn-to-all {
  width: 192px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  background-color: var(--basic-red);
}

.popular-goods__btn-to-all:active {
  background-color: var(--dark-red);
}

.popular-goods__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pop-item:not(:nth-child(4n)) {
  margin-right: 20px;
}

.pop-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;

  width: 220px;
  min-height: 318px;

  border: 1px solid var(--grey-border);
}

.pop-item__btn-wrapper,
.item__btn-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  display: none;
  width: 218px;
  padding: 38px 0;

  background-color: var(--white);
}


.pop-item__btn-buy,
.item__btn-buy {
  display: block;
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--dark-green);
  border-radius: 2px;
}

.pop-item__btn-buy:hover,
.pop-item__btn-buy:focus,
.item__btn-buy:hover,
.item__btn-buy:focus {
  background-color: var(--light-green);
  box-shadow: inset 0px -3px 0px var(--dark-green);
}

.pop-item__btn-buy:active,
.item__btn-buy:active {
  background: var(--bright-green);
}

.pop-item__btn-to-bookmarks,
.item__btn-to-bookmarks {
  display: block;
  width: 135px;
  min-height: 38px;
  padding-top: 9px;
  padding-bottom: 7px;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--deep-blue);

  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.pop-item__btn-to-bookmarks:hover,
.pop-item__btn-to-bookmarks:focus,
.item__btn-to-bookmarks:hover,
.item__btn-to-bookmarks:focus {
  border: 3px solid var(--deep-blue);
}

.pop-item__btn-to-bookmarks:active,
.item__btn-to-bookmarks:active {
  opacity: 0.5;
}

.pop-item:hover,
.pop-item:focus,
.item:hover,
.item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.pop-item:hover .pop-item__btn-wrapper,
.item:hover .item__btn-wrapper,
.pop-item:focus .pop-item__btn-wrapper,
.item:focus .item__btn-wrapper {
  display: block;
}

.pop-item__name,
.item__name {
  width: 157px;
  padding: 0;
  margin: 0;

  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--black);
}

.pop-item__old-price,
.item__old-price {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;

  color: var(--grey-light);
}

.pop-item__new-price,
.item__new-price {
  display: block;
  width: 141px;
  min-height: 38px;
  padding-top: 10px;

  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  background-image: url("/img/red-button.svg");
  background-repeat: no-repeat;
}

.popular-brands {
  width: 940px;
  margin: 0 auto;
}

.popular-brands__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 145px 145px;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
  margin: 0;
}

.popular-brands__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
  padding-left: 28px;
  min-height: 89px;

  background-color: var(--light-background);
}

.popular-brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-border);
}

.popular-brands__item:hover,
.popular-brands__item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-brands__item:active {
  opacity: 0.5;
}

.popular-brands__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--deep-blue);
}

.popular-brands__btn-to-all {
  display: block;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  background-color: var(--basic-red);
}

.popular-brands__btn-to-all:active {
  background-color: var(--dark-red);
}

.services {
  background-color: var(--basic-background);
}

.services__wrapper {
  width: 940px;
  margin: 0 auto;
}

.services__title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services__sentence {
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 50px;

  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services__slider {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.services__control {
  display: block;
  width: 240px;
  padding-left: 22px;
  padding-top: 13px;
  padding-bottom: 17px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--deep-blue);
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px var(--shadow-blue);
}

.services__control:hover,
.services__control:focus {
  color: var(--white);

  background-color: var(--dark-blue);
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px var(--shadow-blue);
}

.services__control--current {
  color: var(--deep-blue);
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
}

.services__list {
  padding: 0;
  margin: 0;
}

.services__slide {
  padding: 0;
  margin: 0;
}

.services__slide h3 {
  padding: 0;
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--deep-blue);
}

.services__slide p {
  padding: 0;
  margin: 0;

  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services__slide a {
  display: block;
  width: 195px;
  min-height: 38px;
  padding-top: 10px;
  padding-bottom: 12px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--bright-red);

  border-radius: 3px;
}

.services__slide a:active {
  background-color: var(--dark-red);
}


.grid__columns {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.about p {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about__carrier {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.about__btn {
  display: block;
  width: 192px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}

.about__btn:active {
  background-color: var(--dark-red);
}

.contacts__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.contacts__btn {
  display: block;
  width: 300px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}

.contacts__btn:active {
  background-color: var(--dark-red);
}

.footer {
  background-color: var(--deep-blue);
}

.footer__container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  display: block;
  width: 220px;
  height: 68px;
  text-align: center;
  padding-top: 21px;
  margin-right: auto;

  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer__logo:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px -5px var(--darkest-red);
}

.footer__nav-list {
  min-width: 550px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-item:not(:last-child) {
  margin-right: 59px;
}

.footer__nav-item a {
  position: relative;

  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer__nav-item:hover a:after,
.footer__nav-item:focus a:after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: var(--basic-background);
}

.footer__nav-item:active a:after {
  display: none;
}

.footer__nav-item:active a {
  opacity: 0.5;
}

.footer__address {
  margin: 0;
  padding: 0;
}

.footer__address-div {
  margin-right: auto;
}

.footer__address,
.footer__phone {
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
}

.products-nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 525px;
}

.products-nav__item:not(:last-child) {
  margin-right: 59px;
}

.products-nav__item a {
  position: relative;

  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.products-nav__item:hover a:after,
.products-nav__item:focus a:after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: var(--special-yellowlight);
}

.products-nav__item:active a:after {
  display: none;
}

.products-nav__item:active a {
  opacity: 0.5;
}


.footer__wrapper {
  background-color: var(--dark-blue);
}

.footer__copyright {
  margin-right: 160px;

  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 134px;
  min-height: 44px;
  margin: 0;
  margin-right: 118px;
  padding: 0;
}

.social__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding-top: 11px;

  text-align: center;

  background-color: var(--darkest-blue);

  border-radius: 50%;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--basic-red);
}

.footer__feedback {
  margin-right: 50px;

  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer__feedback a {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellowlight);
}

.footer__feedback a:active {
  color: var(--basic-red);
}

.footer__developed-by {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer__developed-by a {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellowlight);
}

.footer__developed-by a:active {
  color: var(--basic-red);
}

/*write us*/

.write-us {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;

  width: 620px;
  min-height: 430px;
  padding-top: 46px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;


  background: linear-gradient(var(--white), var(--white) 318px, #F4F4F4 318px);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75), inset 0 7px 0 #ff5358;

  transform: translate(-310px, -215px);
}

.write-us label {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.write-us input::placeholder,
.write-us textarea {
  font-size: 13px;
  line-height: 24px;
  color: var(--grey-light);
}

.write-us__button {
  width: 460px;
  min-height: 38px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);

  border: none;
  outline: none;
}

.write-us__button:active {
  background-color: var(--dark-red);
}

.map {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;

  padding-top: 7px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75), inset 0 7px 0 #ff5358;

  transform: translate(-471px, -224px);
}

.btn__close {
  position: absolute;
  right: 10px;
  top: 17px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("/img/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;

  border: none;

  outline: none;
}

.btn__close:hover,
.btn__close:focus {
  opacity: 0.5;
}

.btn__close:active {
  opacity: 0.2;
}

/*catalog*/

.user-menu {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  min-height: 70px;
  margin: 0;
}

.user-menu__name {
  display: block;
  width: 300px;
  min-height: 45px;
  margin: 0;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--black);

  background-color: var(--white);
}

.user-menu__name svg {
  fill: var(--basic-greylight);
}

.user-menu__name:hover svg,
.user-menu__name:focus svg {
  fill: var(--basic-grey);
}

.user-menu__name:active svg {
  fill: var(--basic-greylight);
}

.user-menu__name:active {
  color: var(--basic-greylight);
}

.user-menu__logout-btn {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--white);
}

.user-menu__logout-btn svg {
  fill: var(--basic-greylight);
}

.user-menu__logout-btn:hover svg,
.user-menu__logout-btn:focus svg {
  fill: var(--basic-grey);
}

.user-menu__logout-btn:active svg {
  fill: var(--basic-greylight);
}

.user-menu__options {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  min-height: 18px;
  padding: 0;
  margin: 0;
}

.user-menu__options li {
  flex-grow: 1;
}

.user-menu__options a {
  display: block;
  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: var(--deep-blue);
}

.user-menu__orders {
  position: relative;
}

.user-menu__orders:after {
  content: "";

  position: absolute;
  right: 0;
  top: 40%;

  width: 4px;
  height: 4px;

  background-color: var(--deep-blue);
  border-radius: 50%;
}

.user-menu__orders:hover,
.user-menu__orders:focus {
  color: var(--basic-red);
}

.user-menu__orders:active {
  color: var(--basic-greylight);
}

.user-menu__orders:hover:after,
.user-menu__orders:focus:after {
  background-color: var(--basic-red);
}

.user-menu__orders:active:after {
  background-color: var(--basic-greylight);
}

.user-menu__account:hover,
.user-menu__account:focus {
  color: var(--basic-red);
}

.user-menu__account:active {
  color: var(--basic-greylight);
}

.breadcrumbs {
  display: flex;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.breadcrumbs__link {
  display: block;
  padding-right: 26px;
  margin-right: 15px;

  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

.breadcrumbs__link[href] {
  background-image: url(/img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-size: 8px 12px;
  background-position: right;
}

.catalog {}

.catalog__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.catalog__heading {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-left: 29px;
  width: 940px;
  min-height: 89px;

  background-color: var(--simple-background);

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--deep-blue);
}

.catalog__columns {
  display: flex;
}

.filter__title {
  flex-grow: 1;
  width: 220px;
  min-height: 38px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);

  background-color: var(--light-beige);
}

.price,
.brands,
.supply {
  border: none;
}

.filter__legend {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #000000;
}

.brands__label,
.supply__label {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.filter__button {
  width: 220px;
  min-height: 38px;

  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;

  background-color: var(--white);
  border: 1px solid var(--grey-border);
  border-radius: 2px;

  outline: none;
}

.filter__button:hover,
.filter__button:focus {
  border: 1px solid var(--basic-greylight);
}

.filter__button:active {
  border: 1px solid var(--basic-red);
}

.sorting {
  margin: 0;
  padding: 0;
  display: flex;
  width: 700px;
  min-height: 38px;

  background-color: var(--light-beige);
}

.sorting__title {
  margin-right: 140px;

  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--black);
  text-transform: uppercase;
}

.sorting__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 443px;
}

.sorting__link {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted var(--basic-red);
}

.sorting__link--arrow {
  border: none;
}

.sorting__link--chosen {
  color: var(--basic-red);

  border: none;
}

.sorting__link:hover:not(.sorting__link--arrow),
.sorting__link:focus:not(.sorting__link--arrow) {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px solid var(--basic-red);
}

.sorting__link--arrow {
  fill: var(--basic-greylight);
}

.sorting__link--arrow:hover,
.sorting__link--arrow:focus {
  fill: var(--black);
}

.sorting__link--arrow-chosen {
  fill: var(--basic-red);
}

.goods {
  padding: 0;
  padding-bottom: 48px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 18px;
}

.item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;

  width: 220px;
  min-height: 318px;

  border: 1px solid var(--grey-border);

  overflow: hidden;
}



.item--new::before {
  content: "New";

  position: absolute;
  top: 10px;
  right: -25px;

  width: 100px;
  height: 30px;

  background-color: var(--basic-red);

  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  transform: rotate(45deg);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__link {
  min-width: 38px;
  height: 38px;

  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--black);

  background: var(--white);
  border: 1px solid var(--grey-border);
  border-radius: 2px;

  outline: none;
}

.pagination__link--current {
  background-color: var(--basic-red);
  border: none;
  color: var(--white);
}

.pagination__link--next {
  padding-right: 32px;
  padding-left: 32px;
}

.pagination__link[href]:hover,
.pagination__link[href]:focus {
  border: 1px solid var(--basic-greylight);
}

.pagination__link[href]:active {
  border: 1px solid var(--basic-red);
}

.about-perforators {
  background-color: #F1F5F7;
}

.about-perforators__title {
  width: 940px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.about-perforators__content {
  width: 940px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}
